services:
  - type: web
    name: fastapi-app
    env: python
    buildCommand: |
      cd server && \
      pip install --upgrade pip && \
      pip install "pipenv==2026.0.3" && \
      pipenv install --system --deploy
    startCommand: bash server/start_server_and_celery.sh
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.2

      - key: REDIS_URL
        sync: false
      - key: SENDER_EMAIL
        sync: false
      - key: SENDER_PASSWORD
        sync: false
      - key: EMAIL_HOST
        value: smtp.gmail.com
      - key: EMAIL_PORT
        value: "587"
      - key: MONGO_URI
        sync: false
      - key: SHARE_URL
        sync: false
      - key: ALLOWED_ORIGINS
        sync: false
      - key: DB_NAME
        sync: false
      - key: EMAIL_PASSWORD
        sync: false
      - key: EMAIL_SENDER
        sync: false
      - key: ENV
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: MONGO_URL
        sync: false
      - key: HUGGINGFACEHUB_API_TOKEN
        sync: false
      - key: FERNET_KEY
        sync: false
      - key: MAILGUN_API_KEY
        sync: false
      - key: MAILGUN_DOMAIN
        sync: false
      - key: MAILGUN_SENDER_EMAIL
        sync: false
      - key: PRIMARY_EMAIL_PROVIDER
        sync: false

    plan: free
